body {
    margin: 0 auto;
    background-color: #f2ece5;
    color: #111;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}
a:hover img {
    scale: 1.05;
    transition: scale 0.3s;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
    font-family: "Arial", Sans-serif;
}

header, main, footer {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


/* this is Navigation bar */
header {
    margin: auto;
    height: 70px;
    padding: 0 40px;
    background-color: #f2ece5;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#logo img {
    display: block;
    width: 35px;
    height:auto; 
    padding: 0px 30px 0 0px;
}
#logo a {
    color: #111;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
nav ul{
    margin: 0;
    color:#283047;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a{
    color: #283047;
    text-decoration: none;
    font-weight: bold;
}


/* This is the Main Website */
main {
    max-width: 100%;
    margin: 0 auto;
    background-color: #f2ece5;
}

/* this is the Hero section */

#hero { /*styles the hero box*/
    height: 600px;
    padding: 100px 60px;
    background-color: #a59e9e;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: url(/images/centralPA/mountains.jpg);
    background-size: cover;
    background-position: center;
}

#hero h1 { /*styles Discover Central PA*/
    color:#eee;
    margin: 0 0 30px;
    font-size: 70px;
    line-height: 1;
    text-transform: uppercase;
    border-left: 5px solid #c59034;
    padding-left: 30px;
}
#hero a { /*styles the start exploring link*/
    display: inline-block;
    padding: 12px 70px;
    background-color: #8a465a;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}
#hero > a:hover {
    background-color: #c59034;
    color: #white;
    scale: 1.05;
    transition: scale 0.3s;
}

/* this is the main featured section */
#featured {
    padding: 100px 60px;
    display: flex;
    align-items: center;
    gap: 60px;
}

#featured > a {
    width: 50%;
}
.featured-image {
    width: 100%;
    height: 400px;
    background-color: #111;
    border-radius: 10px;
    background-image: url(/images/centralPA/poconos.jpg);
    background-size: cover;
    background-position: center;
}
.featured-text {
    width: 50%;
}
.featured-text h2 {
    margin: 0 0 5px;
    font-size: 45px;
    color: #283047
}
.featured-text a {
    color: #111;
    text-decoration: none;
}
.featured-text h3 {
    margin: 0 0 20px;
    font-size: 22px;
    color: #c59034
}
.featured-text p {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 1.5;
    color: #111;
}
#featured .link a{
    color: #c59034;
    text-decoration: none;
}


/* this is the attractions section */
#attractions {
    padding: 100px 60px;
    background-color: #f2ece5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
#attractions > a {
    text-decoration: none;
    color: #283047;
}
.card {/* this is the card box*/
    width: 30%;
    background-color: #eee;
    border-radius: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}
.img-holder {
    width: 100%;
    height : 250px;
    overflow: hidden;
    object-fit: cover;
    background-color: #eee;
}
.img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-holder a {
    display: block;
    width: 100%;
    height: 100%;
}
.title {
    margin: 10px 20px;
    font-size: 16px;
    color: #283047;  
}
.title a {
    color: #283047;
    text-decoration: none;
}
.title h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #283047;
    font-family: "Times New Roman", serif;
}

/* this is the description for the card */
.card-content {
    margin: 0 20px;
}
.card-content p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #575353;
    padding-top: 5px;
    padding-bottom: 10px;
}
.card .link {
    margin: 0 20px;
}
.card .link a{
    color: #c59034;
    text-decoration: none;
}
#attractions >a {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* this is the quote section */
#quote {
    padding: 150px 150px;
    background-color: #283047;
    color: #eee;
    text-align: center;
    font-weight: bold;

    background-image: url(/images/centralPA/hillsofpa.jpg);
    background-size: cover;
    background-position: center;
}
#quote blockquote {
    margin: 10px;
    font-size: 40px;
    line-height: 1.2;
    font-family: "Arial", Sans-serif;
    border-left: 5px solid #c59034;
    border-right: 5px solid #c59034;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, 0.251);
    padding: 20px;
}
#quote p {
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 1.5;
    color: #eee;
    align-items: center;
    padding-top: 20px;
}

/* this is the find what you love section */

#interest {
    padding: 60px 60px 100px;
    background-color: #f2ece5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    text-align: center;
    box-sizing: border-box;
}
#interest > h2{
    width: 100%;
    margin: 0 0 80px;
    font-size: 45px;
    color: #283047;
    display: flex;
    align-items: center;
    gap: 20px;
}
#interest > h2::before {
    content: "";
    flex-grow: 1;
    height: 5px;
    background-color: #c59034;
}
#interest > h2::after {
    content: "";
    flex-grow: 1;
    height: 5px;
    background-color: #c59034;
}

.interest-card {
    width: 22%;
    overflow: hidden;
}
.circle-holder img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #111;
    display: block;
}
.circle-title a {
    color: #8a465a;
    text-decoration: none;
}
.circle-title {
    margin: 10px 0 0;
    font-size: 16px;
    color: #8a465a;  
}
.circle-content p{
    margin: 0 0 10px;
    padding-left: 60px;
    padding-right: 60px;
}


footer {
    padding: 20px 60px;
    background-color: #283047;
    text-align: left;
    color: #eee;
}

#logo a:hover,
nav a:hover,
.featured-text a:hover,
.card a:hover,
#attractions > a:hover,
.circle-title a:hover {
    color: #c59034;
    transition: color 0.3s;
    scale: 1.05;
}
.card .link a:hover,
#featured .link a:hover {
    color: #8a465a;
    transition: color 0.3s;
    scale: 1.05;
}
